<!DOCTYPE html>
<html lang="vi"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Quản lý giỏ hàng</title>
    <meta charset="UTF-8">
</head>
<body>
<div layout:fragment="content">
<h1>Thêm giỏ hàng</h1>

<form th:action="@{/gio-hang-off/them}" method="post" th:object="${gioHang}">
    <label>Người dùng:</label>
    <select th:field="*{nguoiDung.id}" required>
        <option value="" disabled selected>-- Chọn người dùng --</option>
        <option th:each="nd : ${nguoiDungs}" th:value="${nd.id}" th:text="${nd.hoTen}"></option>
    </select>

    <br><br>

    <button type="submit">Thêm mới</button>
</form>


<hr/>

<h2>Danh sách giỏ hàng</h2>
<a th:href="@{/gio-hang-off/trangthai}">Trạng thái</a>
<table border="1" cellpadding="5" cellspacing="0">
    <thead>
    <tr>
        <th>ID</th>
        <th>Người dùng</th>
        <th>Ngày tạo</th>
        <th>Trạng thái</th>
        <th>Hành động</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="gioHang : ${gioHangs}" th:if="${gioHang.trangThai == 1 || gioHang.trangThai == 3}">
        <td th:text="${gioHang.id}"></td>
        <td th:text="${gioHang.nguoiDung.hoTen}"></td>
        <td th:text="${gioHang.ngayTao}"></td>
        <td th:text="${gioHang.trangThai == 1 ? 'Chờ xác nhận' : (gioHang.trangThai == 3 ? 'Chờ xử lý' : '')}"></td>
        <td>
            <a th:href="@{'/gio-hang-off/xoa/' + ${gioHang.id}}"
               onclick="return confirm('Bạn có chắc muốn xóa?');">Xóa</a>
        </td>
    </tr>
    </tbody>
</table>
</div>
</body>
</html>
