<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{/menutrangchu/menu.html :: dynamic(~{::quanly})}">
<head>
    <title>Quản lý giỏ hàng</title>
    <meta charset="UTF-8">
</head>
<body th:fragment="quanly">

<h2>Danh sách giỏ hàng</h2>
<a th:href="@{/gio-hang-off}">Trạng thái</a>
<table border="1" cellpadding="5" cellspacing="0">
    <thead>
    <tr>
        <th>ID</th>
        <th>Người dùng</th>
        <th>Ngày tạo</th>
        <th>Trạng thái</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="gioHang : ${gioHangs}" th:if="${gioHang.trangThai == 0}">
        <td th:text="${gioHang.id}"></td>
        <td th:text="${gioHang.nguoiDung.hoTen}"></td>
        <td th:text="${gioHang.ngayTao}"></td>
        <td th:text="'xác nhận'"></td>
    </tr>
    </tbody>
</table>
</body>
</html>
